n8n-workflows/10-agentes-conversacionales.json
{
  "name": "ZIAY OS — 10 Agentes Conversacionales (§6 Saramantha)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-inbound",
        "responseMode": "responseNode"
      },
      "id": "webhook-wa",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "// Resolve tenant_id from the WABA number that received the message\nconst body = $input.item.json;\nconst wabaId = body.entry?.[0]?.id;\nconst tenant = await this.helpers.httpRequest({\n  url: 'http://app:3000/api/tenants',\n  method: 'GET'\n});\nreturn { tenantId: tenant.tenants.find(t => t.wabaId === wabaId)?.id, message: body };"
      },
      "id": "resolve-tenant",
      "name": "Resolve Tenant",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://app:3000/api/agents/profile",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tenantId",
              "value": "={{ $json.tenantId }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message.entry[0].changes[0].value.messages[0].text.body }}"
            }
          ]
        }
      },
      "id": "agent-profile",
      "name": "6.1 Agente Perfilamiento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://app:3000/api/agents/speech",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tenantId",
              "value": "={{ $('Resolve Tenant').item.json.tenantId }}"
            },
            {
              "name": "perfil",
              "value": "={{ $json.reply }}"
            }
          ]
        }
      },
      "id": "agent-speech",
      "name": "6.2 Agente Discurso",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://app:3000/api/agents/catalog",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tenantId",
              "value": "={{ $('Resolve Tenant').item.json.tenantId }}"
            },
            {
              "name": "query",
              "value": "familia"
            }
          ]
        }
      },
      "id": "agent-catalog",
      "name": "6.3 Agente Catálogo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://app:3000/api/agents/quote",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tenantId",
              "value": "={{ $('Resolve Tenant').item.json.tenantId }}"
            },
            {
              "name": "items",
              "value": "=[{ \"sku\": \"PIJ-SHORT-TIRA-001\", \"cantidad\": 6 }]"
            }
          ]
        }
      },
      "id": "agent-quote",
      "name": "6.4 Agente Cotización",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://app:3000/api/agents/checkout",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tenantId",
              "value": "={{ $('Resolve Tenant').item.json.tenantId }}"
            },
            {
              "name": "items",
              "value": "=[{ \"sku\": \"PIJ-SHORT-TIRA-001\", \"cantidad\": 6 }]"
            }
          ]
        }
      },
      "id": "agent-checkout",
      "name": "6.10 Agente Checkout",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1320,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond",
      "name": "Respond to WhatsApp",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1540,
        0
      ]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Resolve Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Tenant": {
      "main": [
        [
          {
            "node": "6.1 Agente Perfilamiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6.1 Agente Perfilamiento": {
      "main": [
        [
          {
            "node": "6.2 Agente Discurso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6.2 Agente Discurso": {
      "main": [
        [
          {
            "node": "6.3 Agente Catálogo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6.3 Agente Catálogo": {
      "main": [
        [
          {
            "node": "6.4 Agente Cotización",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6.4 Agente Cotización": {
      "main": [
        [
          {
            "node": "6.10 Agente Checkout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6.10 Agente Checkout": {
      "main": [
        [
          {
            "node": "Respond to WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "_notes": [
    "WORKFLOW LEGACY — mantiene el encadenamiento original de los 10 agentes conversacionales de Saramantha §6 como referencia histórica.",
    "Cada nodo HTTP llama al endpoint POST http://app:3000/api/agents/[agentName] del ZIAY App.",
    "El flujo completo: webhook WA → resolve tenant → profile → speech → catalog → quote → checkout → respond.",
    "Los agentes 6.5-6.9 (theme, objection, address, logistics, vision) se invocan condicionalmente según el contexto.",
    "",
    "ESTADO ACTUAL (SPRINT-FIXES-N8N-DEPLOY-001):",
    "- El proyecto ahora tiene 26 agentes (10 originales + 16 nuevos agregados en BUILD-AGENTS-LIB-001).",
    "- El pipeline canónico actual es de 9 pasos (NO 10) — ver master-orchestrator.json y src/lib/orchestrator/constants.ts.",
    "- El agente 'vision' se invoca como variante visual-primero dentro del paso 'catalog' (no como paso separado).",
    "- Los 16 agentes nuevos (buyer_behavior, cart_builder, guide_tracking, novedades, redelivery, remarketing, guide_alert, sales_retainer, logistics_notifier, customer_score, carrier_score, product_enrichment, marketplace, affiliator, traffic_orchestrator, address_analysis) se invocan individualmente vía POST /api/agents/{agentName} — ver los workflows agent-*.json individuales.",
    "- Para la orquestación canónica de 9 pasos, usa master-orchestrator.json en lugar de este workflow.",
    "",
    "Importar: abrir n8n en http://localhost:5678 → Workflows → Import from File → seleccionar este JSON."
  ]
}
